body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.3s, color 0.3s;
}

.night-mode {
    background-color: #333;
    color: #fff;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.night-mode .form-container {
    background-color: #444; /* Fondo más oscuro para el contenedor en modo nocturno */
}

h2 {
    margin-bottom: 20px;
}

label {
    margin: 10px 0 5px;
}

input, select {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.night-mode input,
.night-mode select {
    background-color: #555; /* Fondo de los inputs y selects en modo nocturno */
    color: #fff; /* Color de texto en inputs y selects */
    border: 1px solid #888; /* Borde más claro para los inputs y selects */
}

button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.night-mode button {
    background-color: #555; /* Fondo del botón en modo nocturno */
}

.night-mode button:hover {
    background-color: #777; /* Fondo del botón al pasar el cursor en modo nocturno */
}
